node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# Ignore APK files
*.apk

# Ignore certificates (if needed)
assets/certificates/*.pem
google-services.json
# Ignore Firebase config file
google-services.json
# Ignore VS Code settings
.vscode/


# Ignore Firebase admin SDK JSON
cozy-cove-a2698-firebase-adminsdk-fbsvc-04e312cb40.json

google-services.json

ios
android

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
